<header>
    <nav>
        <a href="/">MongoDb</a>
        <ul>
            <li><a href="/authers">Authers</a></li>
            <li><a href="/authers/new">Add Auther</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/book/new">Add Book</a></li>
        </ul>
    </nav>
</header>
