<h2>new authers </h2>
    <form action = "/authers" method="POST">
       <%- include('_form_fileds') %>
        <a href="/authers/new">Cancel</a>
        <button type="submit">Create</button>
    </form>