<!-- <select name = "auther">
<% auther.forEach(auther => {%>
    <% if(auther.id === book.auther) { %>
    <option selected label="<%= auther.name %>" value="<%= auther.id %>"></option>
    <% } else { %>
    <option label="<%= auther.name %>" value="<%= auther.id %>"></option>
    <% } %>
</select> -->