<h2>new book </h2>

    <form action = "/book" method="POST" enctype="multipart/form-data">
     <%- include('_book_form_fileds') %><br>
        <a href="/book/new">Cancel</a>
        <button type="submit">Create</button>
    </form>